@use "../../styles/variables.scss";
.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    align-self: center;
    color: white;
    display: inline-flex;
    padding-right: 30px;
}
.icon-hamburguer{
    display: none;
}
.link-sessao{
    font-size: 23px;
    font-family: variables.$font-logo;
    color: white;
    text-decoration: none;
    position: relative;
    width: 90px;
    padding: 15px 10px;
    text-align: center;

    &:before{
        content: " ";
        width: 0%;
        height: 4px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: 0.3s ease-in-out;
    }
    
    &:hover::before{
        width: 100%;
        left: 0;
    
    }
}
@media (max-width: 800px){
    .icon-hamburguer{
        display: flex;
        margin: 60px;
    }
    .menu{
        display: none;
        background-color: variables.$cor-header;
        
    }
    .ativado{
        
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70px; 
        
       
    }
}




