@use "../../styles/variables.scss";

.menu{
    align-self: center;
    color: white;
    display: inline-flex;
}
.link-sessao{
    font-size: 23px;
    font-family: variables.$font-logo;
    color: white;
    text-decoration: none;
    position: relative;
    width: 90px;
    padding: 15px 10px;
    text-align: center;

    &:before{
        content: " ";
        width: 0%;
        height: 4px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: 0.3s ease-in-out;
    }
    
    &:hover::before{
        width: 100%;
        left: 0;
    
    }
}




