@use "variables";

.container{
    background-color: variables.$cor-back;
    height: 6000px;
    
}

.container-header{
    background-color: variables.$cor-header;
    display: flex;
    justify-content: space-between;
    padding-inline: 25px;
    height: 8vh;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 100;
    margin-right: 150px;
    .logo{
        display: flex;
        font-family: variables.$font-logo;
        height: 75px;
        align-self: center;
        
        h2{
            font-size: 35px;
            align-self: center;
            font-family: variables.$font-logo;
            span{
                color: variables.$cor-azul;
            }
        }
        
    }
    
}

.container-intro{
    height: 81vh;
    margin-left: 120px;
    padding-top: 180px;
    margin-right: 120px;
    position: relative;
    .container-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: variables.$font-name;
        span{
            color: variables.$cor-azul;
        }
        h1{
            font-size: 60px;
        }
        h2{
            font-size: 40px;
        }
    }
    .container-bubbles{
        display: flex;
        gap: 15px;
    }
    .botao-baixar{
        margin: 30vh auto;
        width: 40px;
        top: 60vh;
        animation: Float 2s ease-in-out infinite ;
    }
    
    
}

.container-sobremim{
    background-color: variables.$cor-back-s;
    .conteudo-sobremim{
        margin-right: 120px;
        margin-left: 120px;
        div{
            display: flex;
        }
        p{
            font-size: variables.$tamanho-font-text;
            font-family: variables.$font-name;
        }
        hr{
            margin: 20px;
        }
    }
}

.container-skills{
    margin-right: 120px;
    margin-left: 120px;
    .conteudo-skills{
        display: flex;
    }
    .skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;

    }
}

.container-portifolio{
    margin-right: 120px;
    margin-left: 120px;

}




@keyframes Float{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}






.elemento {
    display: none;
    transform: translateY(20px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .elemento.aparecer {
    display: flex;
    transform: translateY(0);
}