@import url('https://fonts.googleapis.com/css?family=Monomaniac One');

$cor-azul: #00B2FF;
$cor-back: #262626;
$cor-back-s: #1C1C1C;
$cor-header: #121111;

$tamanho-font-text: 24px;
$font-logo: Monomaniac One;

