@import url('https://fonts.googleapis.com/css?family=Monomaniac One');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

$cor-azul: #00B2FF;
$cor-back: #262626;
$cor-back-s: #141414;
$cor-header: #1a1818;

$tamanho-font-text: 30px;
$font-logo: Monomaniac One;
$font-name: inter

