@use '../../styles/variables.scss';

.container-skill{
    width: 20%;
    height: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: variables.$font-name;
    text-align: center;
    
    h3{
        color: variables.$cor-azul;
       font-size: x-large;
    }
    p{
        max-width: 100px;
        text-wrap: wrap;
        text-overflow: ellipsis; 
        
        
    }
}