@use '../../styles/variables.scss';

.container-skill{
    width: 20%;
    height: 300px;
    font-family: variables.$font-name;
    text-align: center;
    padding: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        color: variables.$cor-azul;
        font-size: x-large;
        
    }
    .container-text{
        word-wrap: break-word;
        height: 100px;
        transition: 20s ease-in-out all;
        text-overflow: ellipsis;
        
        p{
            overflow: hidden;
            max-height: 100px;
            text-overflow: clip;

            &:hover{
                overflow: visible;
                background-color: linear-gradient(to bottom, black, #ffffff)
            }
        }
    
        
    }
    
}

@media (max-width: 1300px) {
    .container-skill{
      p{display: none;}
    }
    
}